

<body>
    
    <main>
        <div class = "container">
            <div class = "row">
                <div class = "mx-auto">
                    <h1>welcome to Bookers !!</h1>

                    <p>In Bookers,</p>

                    <h5>you can share and exchange your opinions , inpressions , and emotions 
            about various books!</h5>
            
                     <%= link_to "Log in", new_user_session_path %>
                     <%= link_to "Sign up", new_user_registration_path %>
                </diV>
        </div>
      </div>
    </main>

</body>
